.houseTree {
  width: 200px;
  height: 100%;
  overflow-y: auto;
  overflow-x: unset;
}
.houseTree :global .ant-tree .ant-tree-treenode-switcher-close .ant-tree-node-content-wrapper {
  color: #333;
}
.tree :global li .ant-tree-node-content-wrapper {
  width: calc(100% - 24px);
}
