@import '~@/themes/vars.less';
.container {
  overflow-y: auto;
  padding-bottom: 100px;
  .passwordBtn {
    width: 100%;
    padding: 50px 50px 0 0;
  }

  .link {
    margin-bottom: @ld-spacing-m;
    padding: 200px 0 100px 0;
    width: 90%;
    .title {
      max-width: 500px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  .loadingTips {
    text-align: center;
    padding: @ld-spacing-m;
    color: @text-color-inverse;
  }

  .created {
    font-size: 60px;
    color: @text-color-inverse;
  }

  :global {
    .scrollbar-container {
      border: 1px solid #fff;
      border-radius: 10px;
      flex: 1;
      display: flex;
      overflow-y: auto;
      width: 80%;
      // padding: @ld-spacing-m;
      .ant-tabs {
        width: 100%;
        overflow: visible;
      }
      .ant-list {
        width: 100%;
        border: 0;
      }
    }
  }
}
